<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <main class="admin-page">
    <h2><%= title %></h2>

    <div class="admin-content">
      <%- include('partials/adminNav') %>
      <p>
        Bienvenue <%= locals.user.firstname %>, archiviste suprême de la <strong>Bibliothèque Fantasque.</strong>
      </p>
    </div>
    
    
  </main>
  <%- include('partials/footer') %>

</body>

</html>