<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <main class="admin-page">
    <h2><%= title %></h2>

    <%- include('partials/adminNav') %>
    <!-- error message -->
    <% if(locals.info) { %>
    <div class="message-info">
      <%= info %>
    </div>
    <% } %>

  </main>
  <%- include('partials/footer') %>

</body>

</html>