<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <main class="admin-page">
    <h2><%= title %></h2>
    <div class="admin-content">
      <%- include('partials/adminNav') %>
      <form class="form-file" action="/admin/addCategory" method="POST">
        <!-- error message -->
        <% if(locals.error) { %>
        <div class="message-error">
          <%= error %>
        </div>
        <% } %>
        <div class="input-group">
          <span class="input-group-text" id="name-addon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill"
              viewBox="0 0 16 16">
              <path
                d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
            </svg>
          </span>
          <input type="text" class="form-control" name="name" placeholder="Théâtre contemporain" aria-label="Name"
            aria-describedby="name-addon" required>
        </div>
        <button type="submit" class="btn-submit">Submit</button>
      </form>
    </div>

  </main>
  <%- include('partials/footer') %>

</body>

</html>